{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col">
            <h1>Articles</h1>
        </div>
    </div>
    <div class="row">
        {% for article in results %}
            <div class="col-sm-4">
                <h4>{{ article.title }}</h4>
                <a href="{{ url('article.details', { slug: article.slug }) }}" class="btn btn-secondary">
                    <img src="{{ asset('img/article/' ~ article.photo) }}" class="img-fluid" alt="">
                </a>

            </div>
        {% endfor %}
    </div>

{% endblock %}
